body {
    font: 10px sans-serif;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .bar {
    fill: orange;
    }

    .bar:hover {
    fill: orangered ;
    }

    .x.axis path {
    display: none;
    }

    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    }

 rect {
   fill: none;
   pointer-events: all;
 }

 .feature {
   fill: #ddd;
   stroke: 0px;
   cursor: pointer;
 }

 .feature.active {
   fill: orange;
 }

 .mesh {
   fill: none;
   stroke: blue;
   stroke-width: 2px;
   stroke-linejoin: round;
   stroke-dasharray: 1,2;
 }

 .district-label {
   fill: black;
   font-size: 14px;
   font-weight: 200;
   text-anchor: middle;
 }

 .precincts {
   fill: none;
   stroke-width: .3px;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke: gray;
   visibility:visible;
 }

 text {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 9px;
   pointer-events: none;
 }